table, td, th {
  border: 1px solid #CCCCCC;
  border-collapse: collapse;
}
td, th {
  padding: 17px 20px
}
.table {
    margin-bottom: 15px;
    overflow-x: auto;
      i {
          color: #BCBCCB;
          opacity: 0.5;
      }
      i.active {
              color: #111111;
              opacity: 1;
      }
      .fields {
          font-size: 13px;
      }
      .info {
          font-size: 15px;
          color: #333333;
      }
}
.table__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__text{
      font-size: 13px;
  }
  &__pagination {
    ul {
      margin-bottom: 0;
    }
      li.active {
          background-color: #1874C4;
      }
  }
}